# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\moham\Documents\Hva\OOP1\OOP1_Practicum4\.idea/dataSources/
/dataSources.local.xml
